bin_unused/
.DS_Store
Icon^M^M
omnifocus/
osx/
mac_mail/
loesch/
intel_compiler/
mac_KeyRemap4MacBook/
mac_PCKeyboardHack/
mac_applescript/
mac_better_touch_tool/
mac_create_finder_icons/
mac_iterm/
mac_keyboard/
mac_osx_terminal_app/
mac_skype/
makefiles/
solarized/
vrome/
cpdf-binaries/
cron/runtime*
vim/view/
vim/.netrwhist
zsh/oh-my-zsh/
ipython-qt-console-solarized-syntax-highlighting/
generalrc/generalrc_alias_oncmmd
generalrc/generalrc_alias_oncmmc
generalrc/generalrc_alias_oncmpc
generalrc/generalrc_alias_onmac
generalrc/generalrc_alias_
